{
  "presets": [
    ["@babel/preset-env", {
      "modules": false
    }],
    "@babel/preset-react",
    "@babel/preset-flow",
    "@babel/preset-typescript"
  ],
  "plugins": [
    "syntax-async-functions",
    "transform-async-to-generator",
    "transform-regenerator",
    "@babel/plugin-transform-runtime",
    "@babel/plugin-proposal-function-bind"
  ]
}
